.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
}

.login-container {
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.login-button {
  background: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}
.login-divider {
  text-align: center;
  margin: 1rem 0;
}
.login-google-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: rgb(220, 220, 220);
  color: black;
  border: 2px solid white;
  padding: 5px;
  padding-right: 10px;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 1rem;
}
.google-logo {
  background-color: white;
  border-radius: 100px;
  padding: 5px;
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
}
